<h3 class="navFont p-1">LOGIN</h3>
<form class="login-form m-3 p-3">
  <div class="mb-3">
    <label for="email-login" class="form-label">username</label>
    <input type="text" class="form-control" id="email-login">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-info">login</button>
</form>

<button type="button" class="m-2 btn btn-outline-info"><a class="text-info" href="/signup"</a>or sign up now!</button>


<script src="/javascript/login.js"></script>